{{#partial "content"}}
    <a href="/Eanimals">Endangered Animals</a>
    <a href="/Wanimals">Wild Animals</a>

    <div class="row">
            {{#each Eanimal}}
        <div class="col-md-4">
            <div class="card">
                <div class="container">
                    <h3>Animal: {{name}} </h3>
                    <p>Health: {{health}}/10</p>
                    <p>Age: {{age}}/10</p>
                    <p>Id: {{ id }}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{#each Wanimal}}
            <div class="col-md-4">
                <div class="card">
                    <div class="container">
                        <h3>Animal: {{name}} </h3>
                        <p>Id: {{ id }}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>
{{health}}
    {{healthLevel}}

{{/partial}}

{{> layout.hbs}}